@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"] {
  position: relative;

  padding-right: 10px;

  color: #858585;
}

input[type="date"]::-webkit-clear-button,
        input[type="date"]::-webkit-inner-spin-button { 
        	display: none;
        }
출처: https://yebeen-study-note.tistory.com/64 [yebeen blog:티스토리]